{% extends "base.html" %}

{% block content %}

{% if username %}

<div class="content-wrapper border">
    <div class="center-content">
        <button id="show-new">New log</button>
        <div id="newlog-form" class="hidden">

            {% include "edit_form.html" %}

        </div>
    </div>
</div>

{% endif %}

{% for article in articles %}

<div class="content-wrapper {% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %} border">
    <article id="{{ article.key.id }}" class="center-content">
    <h1><a href="/article/{{ article.key.id }}/">{{ article.title }}</a></h1>
        <p>
            {{ article.body }}
        </p>
        <p class="article-footer">
        by: <em class="author">{{ article.author }}</em> ({{ article.publish_date }})
        </p>

        {% if username == article.author %}

        <ul>
            <li><a href="/article/edit/{{ article.key.id }}/">edit</a></li>
            <li><a href="/article/delete/{{ article.key.id }}/">delete</a></li>
        </ul>

        {% endif %}

    </article>
</div>

{% endfor %}

{% endblock %}
