{% extends "base.html" %}

{% block content %}

{% if form.errors %}

<p>Sorry, those are not valid credentials.</p>

{% endif %}
    
<div class="content-wrapper border">
    <form id="login" class="center-content" method="POST" action="/authenticate/">{% csrf_token %}
        <label for="username">user name:</label>
        <input type="text" name="username"/><br/>
        <label for="password">password:</label>
        <input type="password" name="password"/>
        <input type="submit" value="Go!"></input>
    </form>
</div>

{% endblock %}
